$bottegaGreen: #00CB79;
$clearBlue: #45B0E5;
$mainGray: #CFCFCF;
$darkGray: #444444;
$font-primary: 'Montserrat', sans-serif;

@mixin button {
    height: 50px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    color: white;
    font-family: "Montserrat";
    font-size:  22px;
    text-align: center;
}

// .backgroundSkew {
//     width: 100vw;
//     height: 700px;
//     background-color: $darkGray;
//     transform: skewY(-10deg);
//     margin-top: -17rem;
//     padding-top: 17rem;
//     border-bottom: 1rem solid $bottegaGreen;
// }

// .backgroundSkew > * {
//     transform: skewY(10deg);
// }

// .madlib-heading {
//     // text-align: center;
//     margin: 20px;
//     padding-top: 46px;
//     color: $font-primary;
//     font-weight: 700;
//     font-family: $font-primary;
// }

// .madlib-subheading {
//     margin-top: 46px;
//     color: rgba(255,255,255,0.75);
//     font-size: 15px;
// }

.home {
    position: relative;

    background-color: rgba(207, 207, 207, 0.06);
    display: grid;
    justify-items: center;
    // align-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
}

.header {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    align-self: center;
    &__skew {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);

        z-index: -10;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width:100vw;
        background-color: #444444;
    }
    &__border {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        clip-path: polygon(0 48%, 100% 23%, 100% 25%, 0 50%);

        z-index: -10;
        top: 0;
        left: 0;
        position: absolute;
        height: 110vh;
        width:100vw;
        background-color: $bottegaGreen;
    }
    
    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
    }

    p {
        color: rgba(255, 255, 255, 0.75);
        font-size: 15px;
        font-weight: 300;
        line-height: 19px;
        width: 403px;
    }
}

.card {
    height: 736px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 7px;
    background-color: white;

    display: grid;
    grid-template-rows: 1fr 50px;

    background-color: white;

    &__inputs {
        
        display: grid;
        grid-template-rows: repeat(4, 27px);
        grid-template-columns: repeat(4, 1fr);

        grid-row-gap: 120px;
        margin-top: 66px;
        margin-left: 83px;
        margin-right: 83px;

        justify-items: center;
        align-items: center;
    }

    button:focus {
        outline: none;
    }

    button {
        justify-self: center;
        transform: translateY(50%);
    }

    &__generate {
        background-color: $bottegaGreen;
        @include button;
    }

    &__clear {
        background-color: #45B0E5;
        @include button;
    }

    &__content {
        width: 1100px;
        height: 297px;
        background-color: #f2f2f2;

        justify-self: center;
        margin-bottom: 84px;

        p {
            line-height: 29px;
            padding: 50px 47px;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 300;
        }
    }
}

.input {
    display: grid;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];

    font-family: 'Montserrat';
    text-align: center;
    
    grid-column-gap: 8px;

    height: 47px;
    
    &__title {
        grid-column: input-s/input-e;

        border-top: 1px solid #b3b3b3;
        color: #b3b3b3;
        font-size: 12px;
        font-weight: 300;

    }
    input {
        grid-column: input-s/input-e;
        border: none;
        font-size: 15px;
        text-align: center;
        font-weight: 600;
        outline: none;
        padding: 4px 0;
        // margin-bottom: 1px;
        transition: all .3s ease;
        // height: 40px;
        // width: 190px;
        
        &:focus {
            outline: none;
            border-bottom: 1px solid $bottegaGreen;
        }

    }
    &__number {
        grid-column: number-s/number-e;

        background-color: $bottegaGreen;
        color: white;
        font-size: 20px;
        
        line-height: 24px;
        padding-top: 1px;

        height: 26px;
        width: 26px;

        border-radius: 50%;
    }
}



html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}